<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Counterfact</title>
    <meta charset="utf-8">
    <meta name="description" content="Counterfact Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style type="text/css">
        body { 
            font-family: Helvetica, Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
  <body>

    <h1>Counterfact</h1>

    <p>
        This server implements the OpenAPI spec at <a href="{{openApiHref}}">{{openApiPath}}</a>. 
        You can try it out using your favorite REST client (curl, Postman, etc.) or browse the interactive API documentation in <a href="./swagger">Swagger UI</a> or <a href="./rapidoc">Rapidoc</a>. 

    </p>

    <p>
        The TypeScript code for each path can be found under <code>{{basePath}}</code>. 
        Click on a path below to edit its corresponding TypeScript file in VSCode.
        For more information, see the <a href="https://counterfact.dev/docs/usage.html">usage guide</a>.
    </p>
    
    <ul>
    {{#each routes as |route|}}
        <li><a href="vscode://file/{{../basePath}}/paths/{{route}}.ts">{{route}}</a></li>
    {{/each}}
    </ul>


    <hr>

    <p>👋 Thanks for trying <a href="https://github.com/pmcelhaney/counterfact/">Counterfact</a>! Let me know how it goes at <a href="mailto:pmcelhaney@gmail.com">pmcelhaney@gmail.com</a> or <a href="https://github.com/pmcelhaney/counterfact/issues/new">Github</a> - <a href="https://patrickmcelhaney.com">Patrick</a></p>

  
  </body>
</html>
